<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <%= @covid_api_ddata.payload %>
</p>

<%= link_to 'Edit', edit_covid_api_ddata_path(@covid_api_ddata) %> |
<%= link_to 'Back', covid_api_data_path %>
