<div id="chart_per_day" class="tab-pane fade in active">
  <%= line_chart [ {name: "Active", data: @active}, {name: "Deaths", data: @deaths}], 
  title: "COVID-19: Cases by day", xtitle: "Date", ytitle: "Cases", 
  width: "1200", height: "500px", colors: ["#008000", "#b00"] %>
</div>