<div class="jumbotron">
    <a href="#"><img src="https://i.ibb.co/VBrVj34/PGCAS.png" alt="COVID-19" width="150"></a>
  <h1>COVID-19 RISK Service</h1>
  <%= form_tag(retrieve_data_path, method: "get", remote: true) do %>
  <%= label_tag(:location, "Retrieve Covid-19 Data for your country:") %>
  <%= select_tag "location", options_from_collection_for_select(ISO3166::Country.all.sort, "alpha2", "name") %>
  <%= submit_tag("Search") %>
  <span class="glyphicon glyphicon-search"></span>
<% end %>
<br></div>

<br><br>
<div id="charts_div" class="tab-content">
  <div id="chart_per_day" class="tab-pane fade in active"></div>
</div>

